@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}


header {
    position: fixed;
    width: 100%;
    z-index: 7;
}


.navbar-content {
   width: 100%;
  
}


.navbar-center {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}


.call-box {
    display: flex;
    align-items: center;
}

.call-box .call-box-text {
    color: #fff;
}

.call-box-icon {
    margin-right: 20px;
}

.call-us {
  position: relative;
 
}
.btn-11 {
  border: none;
    color: #fff;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
}

.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
   
    width: 10px;
    height: 50%;
    background-color: rgb(255, 255, 255, 0.5);
    animation: shiny-btn1 2s ease-in-out infinite;
}

.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
nav .wrapper {
    position: absolute;
    width: 100%;
    margin: auto;
  
  }
  
  
  .wrapper .nav-links {
    display: inline-flex;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links li a:hover {
    color: #2F773A !important;
    font-size: 18px;
  }
  
  .list-p {
    padding: 0 20px;
  }
  
  .list-p span img {
    margin-left: 15px;
    transition: all 0.3s ease;
  }
  
  .nav-links .mobile-item {
    display: none;
  }
  
  
  .nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 60px;
    opacity: 1;
    visibility: visible;
  }
  
  .nav-links li:hover span img {
    transform: rotate(-180deg);
  }
  


.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  
  .wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 35px;
    color: #000;
  }
  
  nav input {
    display: none;
  }



  
.scrolling {
  width: 100%;
 
  background: transparent;
}


.scrolling2 {
  color: #000;
}





.background {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

.slide-details {
    position: absolute;
    top: 20%;
    color: #fff;
    width: 40%;
}

.slide-details h1 {
    font-weight: 700;
    font-size: 50px;
}

.slide-details p {
    font-weight: 400;
    font-size: 24px;
    margin: 40px 0;
}


.owl-carousel .owl-stage-outer {
    height: 100vh;
}



.owl-theme .owl-nav.disabled+.owl-dots {
    z-index: 999;

}


.owl-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 40px;
}

.owl-carousel .owl-item img {
    height: 100%;
    object-fit: cover;
}

.owl-theme .owl-dots .owl-dot.active span {
  width: 84px;
  height: 5px !important;
  border: 0px solid #2F773A;
  border-radius: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 84px;
  height: 5px !important;
  border-radius: 0;
}

.owl-carousel .item {
    height: 100vh;
}

.btn-12{
  position: relative;
 
  line-height: 60px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, #43934f 0%, #225e2b 100%);
  display: block;
  position: absolute;
  width: 200px;
  height: 60px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}


 /********************** SECTION - ABOUT **********************/


 .about-section {
  background: #EAEAEA;
  height: 700px;
  position: relative;
  display: flex;
  align-items: center;
 }
 .green-box {
  width: 23%;
  background:#2F773A;
  height: 100%;
  position: absolute;
  z-index: 1;
 }

 .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
 }

 .about-box {
  width: 44%;
  height: 473px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 60px;
 }

 .about-box-content h2 {
  font-weight: 500;
font-size: 30px;
 }

 .about-box-content p {
  font-size: 22px;
  padding: 20px 0;
 }

 .btn2 {
  width: 260px;
height: 60px;
border: 1px solid #2F773A;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
color: #2F773A;
font-size: 18px;
transition: all .3s;
 }

 .btn2:hover {
  background: #2F773A;
  color: #fff;
 }





 /********************** SECTION - PRODUCT **********************/


 .product-section {
  background: #EAEAEA;
 }

 .green-box-2 {
  width: 100%;
  height: 500px;
  background: #2F773A;
  position: absolute;
  z-index: 1;
 }


 .product-section-box {
  position: relative;
  z-index: 2;
  padding: 150px 0;
 }

 .product-section-box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 656px;
 }

 .product-img-box {
  height: 656px;
  width: 35%;
 }

 .product-categories {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
    place-self: flex-start;

 }


 .product-title {
  width: 100%;
  padding: 0 50px;
  color: #fff !important;
 }

 .product-title p {
  color: #fff !important;
  font-size: 24px;
 }

 .product-title h1 {
  padding-bottom: 35px;
 }

 
 .categories {
  height: 361px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: -30px;
 }

 .category-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

 }

 .category-box h4 {
  color: #000;
 }

 .category-box p {
  font-weight: 300;
font-size: 18px;
text-align: center;
color: #575757;
 }


 .category-box-content {
  text-align: center;
  padding: 0 62px;

 }

 .category-box-content h4 {
  padding: 20px 0;
 }

 .line {
  width: 2px;
  height: 200px;
  background: #2F773A;
 }

 .navbar1{
  background-color: transparent;
}

.navbar1.colorChange{
  background-color: #000;
}





